<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>laiacu &#8211; BigDFT</title>
	<atom:link href="http://sperlonga.intra.cea.fr/author/laiacu/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Sat, 21 Nov 2020 08:16:33 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
	<item>
		<title>BigDFT webinar in the MaX Centre Webinar of Flagship Codes series</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Thu, 12 Nov 2020 08:08:17 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Events]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=188</guid>

					<description><![CDATA[<p>In this webinar, titled “Flexibilities of Wavelets for Electronic Structure Calculations in Large Systems", we will present some of the features that have been made possible by the peculiar properties of Daubechies wavelets. In particular, we focus our attention on the usage of DFT for large-scale systems. We show how the localized description of [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/">BigDFT webinar in the MaX Centre Webinar of Flagship Codes series</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;border-width: 0px 0px 0px 0px;border-color:#e2e2e2;border-style:solid;" ><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start" style="max-width:1248px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-0 fusion_builder_column_1_1 1_1 fusion-flex-column"><div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding: 0px 0px 0px 0px;"><div class="fusion-text fusion-text-1"><p>In this webinar, titled “Flexibilities of Wavelets for Electronic Structure Calculations in Large Systems&#8221;, we will present some of the features that have been made possible by the peculiar properties of Daubechies wavelets. In particular, we focus our attention on the usage of DFT for large-scale systems. We show how the localized description of the KS problem, emerging from the features of the basis set, is helpful in providing a simplified description of large-scale electronic structure calculations. During the presentation, we will highlight how the MaX consortium enabled the possibility of the implementation of advanced functionalities in the contest of pre-exascale computing. Join our webinar on 12th November, 10am (CET).</p>
<p>See here the webinar video: <a href="http://www.max-centre.eu/webinar/flexibilities-wavelets-electronic-structure-calculations-large-systems">http://www.max-centre.eu/webinar/flexibilities-wavelets-electronic-structure-calculations-large-systems</a></p>
</div></div></div><style type="text/css">.fusion-body .fusion-builder-column-0{width:100% !important;margin-top : 0px;margin-bottom : 0px;}.fusion-builder-column-0 > .fusion-column-wrapper {padding-top : 0px !important;padding-right : 0px !important;margin-right : 1.92%;padding-bottom : 0px !important;padding-left : 0px !important;margin-left : 1.92%;}@media only screen and (max-width:1024px) {.fusion-body .fusion-builder-column-0{width:100% !important;}.fusion-builder-column-0 > .fusion-column-wrapper {margin-right : 1.92%;margin-left : 1.92%;}}@media only screen and (max-width:640px) {.fusion-body .fusion-builder-column-0{width:100% !important;}.fusion-builder-column-0 > .fusion-column-wrapper {margin-right : 1.92%;margin-left : 1.92%;}}</style></div><style type="text/css">.fusion-body .fusion-flex-container.fusion-builder-row-1{ padding-top : 0px;margin-top : 0px;padding-right : 0px;padding-bottom : 0px;margin-bottom : 0px;padding-left : 0px;}</style></div>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/">BigDFT webinar in the MaX Centre Webinar of Flagship Codes series</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Paper “Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations” published by Laura Ratcliff et al. in The Journal of Chemical Physics</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Wed, 20 May 2020 07:09:44 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Publications]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=127</guid>

					<description><![CDATA[<p>The BigDFT project was started in 2005 with the aim of testing the advantages of using a Daubechies wavelet basis set for Kohn–Sham (KS) density functional theory (DFT) with pseudopotentials. This project led to the creation of the BigDFT code, which employs a computational approach with optimal features of flexibility, performance, and precision of the [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/">Paper “Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations” published by Laura Ratcliff et al. in The Journal of Chemical Physics</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The BigDFT project was started in 2005 with the aim of testing the advantages of using a Daubechies wavelet basis set for Kohn–Sham (KS) density functional theory (DFT) with pseudopotentials. This project led to the creation of the BigDFT code, which employs a computational approach with optimal features of flexibility, performance, and precision of the results. In particular, the employed formalism has enabled the implementation of an algorithm able to tackle DFT calculations of large systems, up to many thousands of atoms, with a computational effort that scales linearly with the number of atoms. In this work, we recall some of the features that have been made possible by the peculiar properties of Daubechies wavelets.</p>
<p><strong>Reference:</strong></p>
<p>Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations</p>
<p>Laura E. Ratcliff, William Dawson, Giuseppe Fisicaro, Damien Caliste, Stephan Mohr, Augustin Degomme, Brice Videau, Viviana Cristiglio, Martina Stella, Marco D’Alessandro, Stefan Goedecker, Takahito Nakajima, Thierry Deutsch, and Luigi Genovese</p>
<p>The Journal of Chemical Physics 2020 152 (19) 194110, DOI: <a href="https://aip.scitation.org/doi/full/10.1063/5.0004792" target="_blank" rel="noopener noreferrer">10.1063/5.0004792</a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/">Paper “Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations” published by Laura Ratcliff et al. in The Journal of Chemical Physics</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Granted 15 million CPU hours on Joliot-Curie supercomputer to search inhibitors of COVID-19</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/granted-15-million-cpu-hours-on-joliot-curie-supercomputer-to-search-inhibitors-of-covid-19/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/granted-15-million-cpu-hours-on-joliot-curie-supercomputer-to-search-inhibitors-of-covid-19/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Mon, 20 Apr 2020 08:06:48 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Projects]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=186</guid>

					<description><![CDATA[<p>Researchers from the Grenoble Interdisciplinary Research Institute (IRIG) and the CEA's Joliot Institute are working on the search of inhibitors in COVID-19. The SPIKE protein allows the virus to penetrate the cell membrane. Thanks to the simulation of the electronic structure of the protein and the associated inhibitor, it is possible to provide precise information [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/granted-15-million-cpu-hours-on-joliot-curie-supercomputer-to-search-inhibitors-of-covid-19/">Granted 15 million CPU hours on Joliot-Curie supercomputer to search inhibitors of COVID-19</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Researchers from the Grenoble Interdisciplinary Research Institute (IRIG) and the CEA&#8217;s Joliot Institute are working on the search of inhibitors in COVID-19. The SPIKE protein allows the virus to penetrate the cell membrane. Thanks to the simulation of the electronic structure of the protein and the associated inhibitor, it is possible to provide precise information on the strength of the inhibition but also structural information to identify the amino acids concerned and their associated polarities. This initial work made it possible to validate the approach and thus to submit a 15 million hour project to PRACE to study the microscopic and thermodynamic factors that may or may not favour the interaction between the main SARS-CoV-2 protease and promising new inhibitors. The objective is to build an ab initio in silico tool to estimate accurately the interaction properties of proteins interacting with all types of ligand families.</p>
<p>Source: <a href="https://www.genci.fr/en/node/1046" target="_blank" rel="noopener noreferrer">https://www.genci.fr/en/node/1046</a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/granted-15-million-cpu-hours-on-joliot-curie-supercomputer-to-search-inhibitors-of-covid-19/">Granted 15 million CPU hours on Joliot-Curie supercomputer to search inhibitors of COVID-19</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/granted-15-million-cpu-hours-on-joliot-curie-supercomputer-to-search-inhibitors-of-covid-19/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Paper “Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding” published by William Dawson et al. in Journal of Chemical Theory and Computation</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Fri, 27 Mar 2020 07:09:41 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Publications]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=126</guid>

					<description><![CDATA[<p>With the development of low order scaling methods for performing Kohn–Sham density functional theory, it is now possible to perform fully quantum mechanical calculations of systems containing tens of thousands of atoms. However, with an increase in the size of the system treated comes an increase in complexity, making it challenging to analyze such large [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/">Paper “Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding” published by William Dawson et al. in Journal of Chemical Theory and Computation</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>With the development of low order scaling methods for performing Kohn–Sham density functional theory, it is now possible to perform fully quantum mechanical calculations of systems containing tens of thousands of atoms. However, with an increase in the size of the system treated comes an increase in complexity, making it challenging to analyze such large systems and determine the cause of emergent properties. To address this issue, in this paper, we present a systematic complexity reduction methodology which can break down large systems into their constituent fragments and quantify interfragment interactions. The methodology proposed here requires no a priori information or user interaction, allowing a single workflow to be automatically applied to any system of interest. We apply this approach to a variety of different systems and show how it allows for the derivation of new system descriptors, the design of QM/MM partitioning schemes, and the novel application of graph metrics to molecules and materials.</p>
<p><strong>Reference:</strong></p>
<p>Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding</p>
<p>William Dawson, Stephan Mohr, Laura E. Ratcliff, Takahito Nakajima, and Luigi Genovese</p>
<p>Journal of Chemical Theory and Computation 2020 16 (5), 2952-2964</p>
<p>DOI: <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jctc.9b01152" target="_blank" rel="noopener noreferrer">10.1021/acs.jctc.9b01152</a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/">Paper “Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding” published by William Dawson et al. in Journal of Chemical Theory and Computation</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Awarded the MaX Centre for Materials design at the Exascale (MaX-2) EU HPC Center of Excellence</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/awarded-the-max-centre-for-materials-design-at-the-exascale-max-2-eu-hpc-center-of-excellence/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/awarded-the-max-centre-for-materials-design-at-the-exascale-max-2-eu-hpc-center-of-excellence/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Sat, 01 Dec 2018 07:09:46 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Projects]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=128</guid>

					<description><![CDATA[<p>MaX is a user-focused, problem-oriented European Centre of Excellence (call H2020 INFRAEDI-02-2018 - HPC PPP - Centres of Excellence on HPC) aimed to disenthrall the EU leadership in materials modelling, simulations, discovery, and design. It works at the frontiers of the current and future High Performance Computing (HPC) technologies, to enable the best use and [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/awarded-the-max-centre-for-materials-design-at-the-exascale-max-2-eu-hpc-center-of-excellence/">Awarded the MaX Centre for Materials design at the Exascale (MaX-2) EU HPC Center of Excellence</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p><a target="_blank" href="http://www.max-centre.eu/" rel="noopener noreferrer">MaX</a> is a user-focused, problem-oriented European Centre of Excellence (call H2020 INFRAEDI-02-2018 &#8211; HPC PPP &#8211; Centres of Excellence on HPC) aimed to disenthrall the EU leadership in materials modelling, simulations, discovery, and design. It works at the frontiers of the current and future High Performance Computing (HPC) technologies, to enable the best use and evolution of HPC for materials research and innovation. MaX aims to create an ecosystem of capabilities, ambitious applications, data workflows and analysis, and user-oriented services. MaX strategy will be focused on enabling the exascale transition in the materials domain, by developing advanced programming models, novel algorithms, domain-specific libraries, in-memory data management, software/hardware co-design, and technology-transfer actions. BigDFT is a flagship code of MaX.</p>
<p><b>Source</b>: <a target="_blank" href="https://cordis.europa.eu/project/id/824143" rel="noopener noreferrer">Cordis Europe &#8211; Materials Design at the eXascale </a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/awarded-the-max-centre-for-materials-design-at-the-exascale-max-2-eu-hpc-center-of-excellence/">Awarded the MaX Centre for Materials design at the Exascale (MaX-2) EU HPC Center of Excellence</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/awarded-the-max-centre-for-materials-design-at-the-exascale-max-2-eu-hpc-center-of-excellence/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>GPU-accelerated BigDFT available in NVIDIA NGC Catalog</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Fri, 01 Jun 2018 07:00:26 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Developments]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=123</guid>

					<description><![CDATA[<p>The GPU-accelerated BigDFT container is now available for download from the NVIDIA GPU Cloud. The BigDFT container is optimized and tested for reliability to run on NVIDIA Pascal™- and NVIDIA Volta-powered systems with CUDA 9 or newer. For installation and additional information go here To the catalog go here</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/">GPU-accelerated BigDFT available in NVIDIA NGC Catalog</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The GPU-accelerated BigDFT container is now available for download from the NVIDIA GPU Cloud. The BigDFT container is optimized and tested for reliability to run on NVIDIA Pascal<img src="https://s.w.org/images/core/emoji/13.0.0/72x72/2122.png" alt="™" class="wp-smiley" style="height: 1em; max-height: 1em;" />- and NVIDIA Volta-powered systems with CUDA 9 or newer.</p>
<p>For installation and additional information <a target="_blank" href="https://www.nvidia.com/es-la/data-center/gpu-accelerated-applications/bigdft/" rel="noopener noreferrer">go here</a></p>
<p>To the catalog <a href="https://ngc.nvidia.com/catalog/containers/hpc:bigdft" target="_blank" rel="noopener noreferrer">go here</a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/">GPU-accelerated BigDFT available in NVIDIA NGC Catalog</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
