<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Job offers &#8211; BigDFT</title>
	<atom:link href="http://sperlonga.intra.cea.fr/tag/job-offers/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Fri, 22 Jan 2021 08:52:59 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
	<item>
		<title>Post doctoral offer: Modeling antibody/antigen assemblies</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/modelingaapolarisbigdft/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/modelingaapolarisbigdft/#respond</comments>
		
		<dc:creator><![CDATA[Luigi]]></dc:creator>
		<pubDate>Fri, 22 Jan 2021 08:52:59 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Job offers]]></category>
		<category><![CDATA[Projects]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=293</guid>

					<description><![CDATA[<p>Host Laboratory: Joliot Institute, CEA-Saclay and Paris-Saclay University, France. Collaboration with SANOFI and CEA-Grenoble. Position open on March 2021. Targeting specific monoclonal antibodies can be routinely achieved, however increasing the antigen affinity as much as desired is still a challenging task. Most of the available theoretical tools in this field mainly focus on investigating close [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/modelingaapolarisbigdft/">Post doctoral offer: Modeling antibody/antigen assemblies</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Host Laboratory:<br />
Joliot Institute, CEA-Saclay and Paris-Saclay University, France. Collaboration with SANOFI and CEA-Grenoble. Position open on March 2021.</p>
<p>Targeting specific monoclonal antibodies can be routinely achieved, however increasing the antigen affinity as much as desired is still a challenging task. Most of the available theoretical tools in this field mainly focus on investigating close contact antibody/antigen (AA) local regions and usually ignore the effect on affinity of more distant domains. Because of the size of AA assemblies only standard pairwise molecular modeling force fields or empirical cost functions are used to quantify the strength of their interactions. However these theoretical approaches are known to be based on crude approximations preventing to reach a level of accuracy which is sufficienlty high.<br />
Our project, <strong>awarded by a SANOFI iTech Award 2020</strong>, adds two new steps to standard computational protocols used to model AA assemblies (like for instance the popular one based on the Rosetta package of programs) to further evaluate and refine their solutions. These two steps consist in:</p>
<p>(1) in investigating the AA potential energy surface from molecular dynamics Replica Exchange simulations based on a polarizable multi-scale molecular modeling approach;<br />
(2) in refining the simulation results using the complexity reduction framework of BigDFT, that enables to compute the quantum interaction energy of full AA assemblies.</p>
<p>The candidate will work in collaboration with three teams, of the French Energy Agency (CEA) and of the pharmaceutical group SANOFI.<br />
He/She will in particular help in coupling the above new modeling approaches with standard docking ones in order to build a numerical tool that will be used routinely in pharmaceutical industry R&amp;D workflows.</p>
<p>Competences required:<br />
Solid competence in docking and/or molecular dynamics of Antigen/Antibody assemblies, competence in Python programming. Competence in other languages like Perl or C++ will be appreciated.</p>
<p>Duration:<br />
The position is initially open for a twelve-month period. Opportunities for renewal are possible.</p>
<p>Contacts:<br />
Michel Masella, Joliot Institute, CEA-Saclay, email : michel DOT masella AT cea.fr, website : http://biodev.cea.fr/polaris/<br />
Luigi Genovese, L_Sim laboratory, CEA- Grenoble, email : luigi DOT genovese AT cea.fr, (bigdft.org)<br />
Alessandro Masiero, SANOFI R&amp;D, Vitry sur Seine, email : Alessandro DOT Masiero AT sanofi.com</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/modelingaapolarisbigdft/">Post doctoral offer: Modeling antibody/antigen assemblies</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/modelingaapolarisbigdft/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
