<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Publications &#8211; BigDFT</title>
	<atom:link href="http://sperlonga.intra.cea.fr/tag/publications/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Tue, 17 Nov 2020 08:06:18 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
	<item>
		<title>Paper “Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations” published by Laura Ratcliff et al. in The Journal of Chemical Physics</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Wed, 20 May 2020 07:09:44 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Publications]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=127</guid>

					<description><![CDATA[<p>The BigDFT project was started in 2005 with the aim of testing the advantages of using a Daubechies wavelet basis set for Kohn–Sham (KS) density functional theory (DFT) with pseudopotentials. This project led to the creation of the BigDFT code, which employs a computational approach with optimal features of flexibility, performance, and precision of the [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/">Paper “Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations” published by Laura Ratcliff et al. in The Journal of Chemical Physics</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The BigDFT project was started in 2005 with the aim of testing the advantages of using a Daubechies wavelet basis set for Kohn–Sham (KS) density functional theory (DFT) with pseudopotentials. This project led to the creation of the BigDFT code, which employs a computational approach with optimal features of flexibility, performance, and precision of the results. In particular, the employed formalism has enabled the implementation of an algorithm able to tackle DFT calculations of large systems, up to many thousands of atoms, with a computational effort that scales linearly with the number of atoms. In this work, we recall some of the features that have been made possible by the peculiar properties of Daubechies wavelets.</p>
<p><strong>Reference:</strong></p>
<p>Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations</p>
<p>Laura E. Ratcliff, William Dawson, Giuseppe Fisicaro, Damien Caliste, Stephan Mohr, Augustin Degomme, Brice Videau, Viviana Cristiglio, Martina Stella, Marco D’Alessandro, Stefan Goedecker, Takahito Nakajima, Thierry Deutsch, and Luigi Genovese</p>
<p>The Journal of Chemical Physics 2020 152 (19) 194110, DOI: <a href="https://aip.scitation.org/doi/full/10.1063/5.0004792" target="_blank" rel="noopener noreferrer">10.1063/5.0004792</a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/">Paper “Flexibilities of wavelets as a computational basis set for large-scale electronic structure calculations” published by Laura Ratcliff et al. in The Journal of Chemical Physics</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/paper-flexibilities-of-wavelets-as-a-computational-basis-set-for-large-scale-electronic-structure-calculations-published-by-laura-ratcliff-et-al-in-the-journal-of-chemical-physics/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Paper “Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding” published by William Dawson et al. in Journal of Chemical Theory and Computation</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Fri, 27 Mar 2020 07:09:41 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Publications]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=126</guid>

					<description><![CDATA[<p>With the development of low order scaling methods for performing Kohn–Sham density functional theory, it is now possible to perform fully quantum mechanical calculations of systems containing tens of thousands of atoms. However, with an increase in the size of the system treated comes an increase in complexity, making it challenging to analyze such large [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/">Paper “Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding” published by William Dawson et al. in Journal of Chemical Theory and Computation</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>With the development of low order scaling methods for performing Kohn–Sham density functional theory, it is now possible to perform fully quantum mechanical calculations of systems containing tens of thousands of atoms. However, with an increase in the size of the system treated comes an increase in complexity, making it challenging to analyze such large systems and determine the cause of emergent properties. To address this issue, in this paper, we present a systematic complexity reduction methodology which can break down large systems into their constituent fragments and quantify interfragment interactions. The methodology proposed here requires no a priori information or user interaction, allowing a single workflow to be automatically applied to any system of interest. We apply this approach to a variety of different systems and show how it allows for the derivation of new system descriptors, the design of QM/MM partitioning schemes, and the novel application of graph metrics to molecules and materials.</p>
<p><strong>Reference:</strong></p>
<p>Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding</p>
<p>William Dawson, Stephan Mohr, Laura E. Ratcliff, Takahito Nakajima, and Luigi Genovese</p>
<p>Journal of Chemical Theory and Computation 2020 16 (5), 2952-2964</p>
<p>DOI: <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jctc.9b01152" target="_blank" rel="noopener noreferrer">10.1021/acs.jctc.9b01152</a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/">Paper “Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding” published by William Dawson et al. in Journal of Chemical Theory and Computation</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
