<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Events &#8211; BigDFT</title>
	<atom:link href="http://sperlonga.intra.cea.fr/tag/events/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Fri, 20 Nov 2020 09:34:26 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
	<item>
		<title>BigDFT webinar in the MaX Centre Webinar of Flagship Codes series</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Thu, 12 Nov 2020 08:08:17 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Events]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=188</guid>

					<description><![CDATA[<p>In this webinar, titled “Flexibilities of Wavelets for Electronic Structure Calculations in Large Systems", we will present some of the features that have been made possible by the peculiar properties of Daubechies wavelets. In particular, we focus our attention on the usage of DFT for large-scale systems. We show how the localized description of [...]</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/">BigDFT webinar in the MaX Centre Webinar of Flagship Codes series</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;border-width: 0px 0px 0px 0px;border-color:#e2e2e2;border-style:solid;" ><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start" style="max-width:1248px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-0 fusion_builder_column_1_1 1_1 fusion-flex-column"><div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding: 0px 0px 0px 0px;"><div class="fusion-text fusion-text-1"><p>In this webinar, titled “Flexibilities of Wavelets for Electronic Structure Calculations in Large Systems&#8221;, we will present some of the features that have been made possible by the peculiar properties of Daubechies wavelets. In particular, we focus our attention on the usage of DFT for large-scale systems. We show how the localized description of the KS problem, emerging from the features of the basis set, is helpful in providing a simplified description of large-scale electronic structure calculations. During the presentation, we will highlight how the MaX consortium enabled the possibility of the implementation of advanced functionalities in the contest of pre-exascale computing. Join our webinar on 12th November, 10am (CET).</p>
<p>See here the webinar video: <a href="http://www.max-centre.eu/webinar/flexibilities-wavelets-electronic-structure-calculations-large-systems">http://www.max-centre.eu/webinar/flexibilities-wavelets-electronic-structure-calculations-large-systems</a></p>
</div></div></div><style type="text/css">.fusion-body .fusion-builder-column-0{width:100% !important;margin-top : 0px;margin-bottom : 0px;}.fusion-builder-column-0 > .fusion-column-wrapper {padding-top : 0px !important;padding-right : 0px !important;margin-right : 1.92%;padding-bottom : 0px !important;padding-left : 0px !important;margin-left : 1.92%;}@media only screen and (max-width:1024px) {.fusion-body .fusion-builder-column-0{width:100% !important;}.fusion-builder-column-0 > .fusion-column-wrapper {margin-right : 1.92%;margin-left : 1.92%;}}@media only screen and (max-width:640px) {.fusion-body .fusion-builder-column-0{width:100% !important;}.fusion-builder-column-0 > .fusion-column-wrapper {margin-right : 1.92%;margin-left : 1.92%;}}</style></div><style type="text/css">.fusion-body .fusion-flex-container.fusion-builder-row-1{ padding-top : 0px;margin-top : 0px;padding-right : 0px;padding-bottom : 0px;margin-bottom : 0px;padding-left : 0px;}</style></div>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/">BigDFT webinar in the MaX Centre Webinar of Flagship Codes series</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/bigdft-webinar-in-the-max-centre-webinar-of-flagship-codes-series/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
