<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Paper “Complexity Reduction in Density Functional Theory Calculations of Large Systems: System Partitioning and Fragment Embedding” published by William Dawson et al. in Journal of Chemical Theory and Computation	</title>
	<atom:link href="http://sperlonga.intra.cea.fr/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc/news/paper-complexity-reduction-in-density-functional-theory-calculations-of-large-systems-system-partitioning-and-fragment-embedding-published-by-william-dawson-et-al-in-journal-of-che/</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Tue, 17 Nov 2020 08:04:57 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
</channel>
</rss>
