<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Pilot Study Project of BigDFT awarded on Fugaku Supercomputer in Japan	</title>
	<atom:link href="http://sperlonga.intra.cea.fr/news/pilot-study-project-of-bigdft-awarded-on-fugaku-supercomputer-in-japan/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc/news/pilot-study-project-of-bigdft-awarded-on-fugaku-supercomputer-in-japan/</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Tue, 08 Dec 2020 08:28:30 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
</channel>
</rss>
