<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Developments &#8211; BigDFT</title>
	<atom:link href="http://sperlonga.intra.cea.fr/tag/developments/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Sat, 21 Nov 2020 08:16:33 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
	<item>
		<title>GPU-accelerated BigDFT available in NVIDIA NGC Catalog</title>
		<link>https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/</link>
					<comments>https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/#respond</comments>
		
		<dc:creator><![CDATA[laiacu]]></dc:creator>
		<pubDate>Fri, 01 Jun 2018 07:00:26 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Developments]]></category>
		<guid isPermaLink="false">https://l_sim.gitlab.io/bigdft-doc/?p=123</guid>

					<description><![CDATA[<p>The GPU-accelerated BigDFT container is now available for download from the NVIDIA GPU Cloud. The BigDFT container is optimized and tested for reliability to run on NVIDIA Pascal™- and NVIDIA Volta-powered systems with CUDA 9 or newer. For installation and additional information go here To the catalog go here</p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/">GPU-accelerated BigDFT available in NVIDIA NGC Catalog</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The GPU-accelerated BigDFT container is now available for download from the NVIDIA GPU Cloud. The BigDFT container is optimized and tested for reliability to run on NVIDIA Pascal<img src="https://s.w.org/images/core/emoji/13.0.0/72x72/2122.png" alt="™" class="wp-smiley" style="height: 1em; max-height: 1em;" />- and NVIDIA Volta-powered systems with CUDA 9 or newer.</p>
<p>For installation and additional information <a target="_blank" href="https://www.nvidia.com/es-la/data-center/gpu-accelerated-applications/bigdft/" rel="noopener noreferrer">go here</a></p>
<p>To the catalog <a href="https://ngc.nvidia.com/catalog/containers/hpc:bigdft" target="_blank" rel="noopener noreferrer">go here</a></p>
<p>The post <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/">GPU-accelerated BigDFT available in NVIDIA NGC Catalog</a> appeared first on <a rel="nofollow" href="https://l_sim.gitlab.io/bigdft-doc">BigDFT</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://l_sim.gitlab.io/bigdft-doc/news/gpu-accelerated-bigdft-available-in-nvidia-ngc-catalog/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
