<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Granted 15 million CPU hours on Joliot-Curie supercomputer to search inhibitors of COVID-19	</title>
	<atom:link href="http://sperlonga.intra.cea.fr/news/granted-15-million-cpu-hours-on-joliot-curie-supercomputer-to-search-inhibitors-of-covid-19/feed/" rel="self" type="application/rss+xml" />
	<link>https://l_sim.gitlab.io/bigdft-doc/news/granted-15-million-cpu-hours-on-joliot-curie-supercomputer-to-search-inhibitors-of-covid-19/</link>
	<description>A fast, precise and flexible DFT code for ab-initio atomistic simulation</description>
	<lastBuildDate>Tue, 17 Nov 2020 08:09:40 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.6</generator>
</channel>
</rss>
